.button {
    border-radius: 18px;
    display: inline-flex;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 14px 24px;
    align-items: center;
    justify-content: center;
    width: auto;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out; 
}

.button:hover {
    transform: scale(0.95);
    box-shadow: none;
}

.icon {
    margin-right: 20px;
    height: 30px;
    width: 30px;
}

.cta-button {
    background-color: transparent;
    color: #0960BA;
    box-shadow: 1px 1px 18px 3px #d4d4ff;
}

.active-button {
    background: linear-gradient(#0D95D3,#0960BA);
    color: #fff;
    box-shadow: 1px 1px 18px 3px #d4d4ff;
}

.active-button:hover {
    border: 2px solid #d4d4ff;
}